@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 0%;
}

:root {
    --background-color: #222222;
    --background-text: #fff;
    --hover-color: #404040;
    --hover-text: #fafafa;
    --secondary-color: #737373;
    --secondary-text: #e5e5e5;
}