@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy.otf') format('opentype');
}

:root {
    --background-color: #fff;
    --background-text: #222222;
    --primary-color: #fff;
    --primary-text: #737373;
    --secondary-color: #222222;
    --secondary-text: #e5e5e5;
}

::-webkit-scrollbar {
    width: 0%;
}